.horizontal .card-content div{
    text-align: left;
}

.horizontal .card-content div h1{
    font-size: 1.4em;
    margin-bottom: 10px;
}

.horizontal .card-content div h2{
    font-size: 1.1em;
}

.horizontal .card-action{
    background-color: var(--green);
    
}

.horizontal .card-action a{
    color: white !important;
}