.categoriesinfo{
    color:var(--underline-black);
    padding:20px;
}


.categoriesinfo__title{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.categoriesinfo__description{
    font-size: 18px;
    line-height: 22px;
}

.categoriesinfo__underline{
    height: 5px;
    background: var(--green);
    position: relative;
    width: 120px;
    margin:20px 0;
}

.categoriesinfo__underline:after
{
    content: '';
    width: 4px;
    height: 5px;
    position: absolute;
    right: -6px;
    top: 0;
    float: left;
    background-color: var(--underline-black);
}

.categoriesinfo__underline:before{
    content: '';
    width: 4px;
    height: 5px;
    position: absolute;
    right: -12px;
    top: 0;
    float: left;
    background-color: var(--underline-black);
}