.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: 1fr;
    padding-left: 30px;
}

.categories__single-category {
    width: 180px;
    height: 180px;
    padding: 20px;
    color: var(--underline-black);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: var(--green);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.categories__single-category:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    transform: scaleX(1);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.categories__single-category:hover, .categories__single-category:focus, .categories__single-category:active {
    color: white;
    cursor: pointer;
}

.categories__single-category:hover:before, .categories__single-category:focus:before, .categories__single-category:active:before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.categories__image {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.categories__title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3em;
    padding: 15px 0 22px;
    text-transform: uppercase;
    color: inherit;
}

.categories__description {
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
    text-align: justify;
    color: inherit;
    /* max-height: 150px;
    overflow-y: scroll; */
}
