.study-case {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;

    background-color: beige;
}

.study-case img, {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}