.hexagon {
  float: left;
  margin-left: 3px;
  position: relative;
}

.hexagon__text{
  font-family: Dosis, sans-serif;
  font-size: 1.4vw;
  text-transform: uppercase;
  /* font-weight: bold; */
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.hexagon.odd {
  transform: translate(50%, -25%);
}

.hexagon__figure {
  height: 100%;
  width: 100%;
}

.hexagon__figure {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.hexagon__figure:hover {
  cursor: pointer;
  filter: url(#dropshadow);
  fill: #0f5e9d;
  stroke: #49a7e4;
}