.hexagon {
  width: 270px;
  height: 330px;
  display: inline-block;
}

#hexagon__figure {
  height: 100%;
  width: 100%;
}

#hexagon__figure {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

#hexagon__figure:hover {
  cursor: pointer;
  filter: url(#dropshadow);
  fill: #0f5e9d;
  stroke: #49a7e4;
}