.banner {
  padding: 50px;
  background: url('./../../assets/images/landing.jpg') no-repeat;
  background-size: cover;
  color:white;
}

.banner__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.banner__video iframe, .banner__video object, .banner__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner__parallax {
  height: 90vh;
}

.banner__text-container>h2 {
  font-size: 60px;
  text-transform: uppercase;
}

.banner__text-container>h2>b {
  color: var(--blue);
}

.banner__underline {
  height: 5px;
  background: var(--green);
  position: relative;
  width: 120px;
  margin: 20px 0;
}

.banner__underline:after {
  content: '';
  width: 4px;
  height: 5px;
  position: absolute;
  right: -6px;
  top: 0;
  float: left;
  background-color: var(--underline-black);
}

.banner__underline:before {
  content: '';
  width: 4px;
  height: 5px;
  position: absolute;
  right: -12px;
  top: 0;
  float: left;
  background-color: var(--underline-black);
}

.banner__paragraph {
  margin-bottom: 20px;
}

.banner__btn {
  background-color: var(--green);
}

.banner__btn:hover {
  background-color: var(--light-green)
}

@media only screen and (max-width: 600px) {
  .banner {
    padding: 20px;
  }

  .banner__text-container>h2 {
    font-size: 50px;
  }
}
