.navbar_intersys {
    &-menu{
        margin-left: auto;
    }

    .intersys-logo {
        position: relative;
    }

    .col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .btn-flat {
        padding: 0 15px;

        .material-icons {
            height: 36px;
            line-height: 36px;
        }
    }
}