.navbar_intersys {
  height: 70px;
  background-color: white;
  font-family: Dosis, sans-serif;
  clear: both;
  position: relative;
}

.navbar_intersys li {
  height: 70px;
}

.navbar_intersys li a,
.navbar_intersys li p {
  text-transform: uppercase;
  color: #9e9e9e;
  font-size: 18px;
  font-weight: bold;
  height: 70px;
  padding: 10px 20px;
  line-height: 50px;
  margin:0;
}

.navbar_intersys li a:hover,
.navbar_intersys li p:hover {
  background: #F4F6F9;
  color: #585A61;
}

.navbar_intersys li:hover a i,
.navbar_intersys .button-collapse i:hover{
  color: #585A61;
}

ul.navbar_intersys div {
  display: inline !important;
}

.navbar_intersys li a i, 
.navbar_intersys a i,
.navbar_intersys li p i,
.navbar_intersys p i {
  color: #9e9e9e;
  line-height: 50px;
}

.navbar_intersys li a i {
  font-size: 1.5rem;
}

.navbar_intersys a i {
  font-size: 2rem;
}

.navbar_logo {
  height: 35px;
  margin: 1rem;
  padding-top: 5px;
  padding-left: 10px;
}

.navbar_intersys .btn-flat{
  padding: 0 5px  !important;
  color: var(--grey);
}


@media only screen and (max-width: 415px){
  .study span,
  .demo-video span,
  .credits span,
  .stack span{
    display: none;
  }

  .study-icon:after{
    content: 'description';
  }

  .demo-icon:after{
    content: 'slideshow';
  }

  .credits-icon:after{
    content: 'recent_actors';
  }

  .stack-icon:after{
    content: 'storage';
  }

  .navbar_logo{
    margin: 0 !important;
  }

  .home-icon a,
  .study a,
  .demo-video a,
  .credits a,
  .stack a{
    padding: 10px 12px !important;
  }
}

@media only screen and (max-width: 321px){
  .home-icon a,
  .study a,
  .demo-video a,
  .credits a,
  .stack a{
    padding: 10px 10px !important;
  }

  .navbar_intersys .btn-flat{
    padding:  0 !important;
  }

  .navbar_logo{
    height: 30px !important;
  }
}