footer.page-footer{
    background-color: var(--grey);
    margin-left: 15px;
    margin: 15px;
    margin-top: 70px;
}

footer.page-footer .footer-copyright{
    background-color: white;
    color: var(--grey)
}

.footer-copyright{
    text-align: center;
}


.footer-links li,
.social-media li{
    display: inline;
    padding-right: 30px;
}

.footer-links li{
    font-size: 1.2em;
}

.grey-text.text-lighten-3:hover{
    text-decoration: underline;
}

.social-media{
    text-align: right;
}

.social-media li a{
    color: white;
    font-size: 1.6em; 
}