@import "~materialize-css/dist/css/materialize.css";

:root{
  --green: #72c168;
  --light-grey: #dadada;
  --grey: #9e9e9e;
}

/* General properties 
********************/
html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}

.content-wrap{
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

.container-left, .container-right{
  width: 50%;
  float: left;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}

.container-right{
  padding: 150px 0;
}

.button{
  margin: 20px auto;
  background-color: #64bc5c;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  cursor: pointer;  
  text-transform: uppercase;
}

/* Call to action 
*****************/
nav{
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
.logo{
  float: left;
  height: 45px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

li{
  float: left;
  color: white;
}

li a{
  display: block;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
}

/* Main 
********/

.category{
  width: 150px;
  height: 150px;
  background-color: grey;
  margin: 10px;
  display: inline-block;
  text-align: center;
  padding: 60px 0;
}

.paragraph{
  width: 80%;
  margin: 0 auto;
}

.pitch{
  margin-top: 80px;
}

/* Footer 
*********/

.image-partner{
  width: 18%;
  height: 80px;
  background-color: grey;
  margin: 10px;
  display: inline-block;
  text-align: center;
}