.video-container {
    position: relative;
    padding-bottom: 0 !important;
    height: 0;
    overflow: hidden;
    min-width: 100%;
    height: calc(100vh - 70px);
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}